body {
    padding-top: 60px;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }
  img {
    max-width: 30%;
    height: auto/9;
    width: auto\9; /* ie8 */
}
nav {
    background-color: white;
  }